@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0, 0%, 98%;
  --foreground: 240, 5%, 96%;
  --skeleton: 240, 6%, 90%;

  --border: 213, 27%, 84%;
  --ring: 215 20.2% 65.1%;
  --input: 213, 27%, 84%;

  --muted: 240, 6%, 90%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
}

.dark {
  --background: 240, 6%, 10%;
  --foreground: 240, 4%, 16%;
  --skeleton: 240, 5%, 26%;

  --border: 240, 5%, 26%;
  --ring: 240, 4%, 16%;
  --input: 240, 5%, 26%;

  --muted: 223 47% 11%;
  --muted-foreground: 215.4 16.3% 56.9%;

  --popover: 240, 6%, 10%;
  --popover-foreground: 215 20.2% 65.1%;
}

* {
  @apply border-border;
}
